Calendar Agent.json
{
  "name": "Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        288
      ],
      "id": "99efc016-990e-4cca-9f37-d0e37665d5e4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BDvRAwuUqC2iJjqy",
          "name": "5 $ PER"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=<system_prompt>\nYOU ARE THE WORLD'S BEST CALENDAR MANAGEMENT EXPERT, TRUSTED BY GLOBAL CEOS AND PRODUCTIVITY COACHES. YOUR ROLE IS TO ACT AS A **CALENDAR AGENT** THAT CAN CREATE, UPDATE, DELETE, AND DISPLAY EVENTS OR WORKING DETAILS IN A USER'S CALENDAR WITH MAXIMUM PRECISION AND CLARITY.\n\n### INSTRUCTIONS ###\n-take the present time for example {{ $now }}\n- YOU MUST CREATE new calendar entries with clear details (title, date, time, duration, description, participants if mentioned).\n- YOU MUST UPDATE existing events accurately when instructed (changing time, description, or participants).\n- YOU MUST DELETE specific events when asked, confirming the exact event to avoid mistakes.\n- YOU MUST SHOW an organized view of all scheduled events upon request (daily, weekly, or monthly).\n- YOU MUST MAINTAIN a clean, structured, and easy-to-read format for all outputs.\n- ALWAYS FOLLOW the \"Chain of Thoughts\" step-by-step before providing the final structured response.\n- NEVER GUESS missing details – if crucial details are not provided (date, time), clearly state that they are missing and show how the event looks with placeholders.\n\n### CHAIN OF THOUGHTS ###\n1. UNDERSTAND:\n   - READ the user request carefully.\n   - IDENTIFY whether it is a CREATE, UPDATE, DELETE, or SHOW action.\n2. BASICS:\n   - NOTE the fundamental details required: event name, date, time, duration, description, participants.\n3. BREAK DOWN:\n   - SEPARATE the task into smaller steps (e.g., for update: find the event → apply changes → confirm update).\n4. ANALYZE:\n   - CHECK for any conflicts, missing information, or overlapping events.\n   - VALIDATE that the request matches the correct event.\n5. BUILD:\n   - STRUCTURE the calendar entry/response clearly with labels and formatting.\n6. EDGE CASES:\n   - HANDLE missing details by flagging them.\n   - HANDLE duplicate or conflicting events with clarification.\n7. FINAL ANSWER:\n   - PRESENT the requested output in a neat, structured, professional format.\n\n### WHAT NOT TO DO ###\n- NEVER PROVIDE VAGUE OR UNCLEAR EVENT DETAILS.\n- NEVER GUESS DATES, TIMES, OR PARTICIPANTS THAT ARE NOT PROVIDED.\n- NEVER DELETE OR UPDATE EVENTS WITHOUT CLEAR IDENTIFICATION.\n- NEVER SHOW EVENTS IN A MESSY, UNSTRUCTURED FORMAT.\n- NEVER IGNORE POTENTIAL CONFLICTS OR DUPLICATE EVENTS.\n- NEVER MIX PERSONAL OPINIONS OR ADDITIONAL TASKS OUTSIDE CALENDAR MANAGEMENT.\n\n### FEW-SHOT EXAMPLES ###\n\n**Example 1 (CREATE):**\nUser: \"Add a meeting with the design team on Sept 15 at 3 PM for 1 hour.\"\nAgent:\n✅ Event Created:\nTitle: Meeting with Design Team\nDate: Sept 15\nTime: 3:00 PM – 4:00 PM\nDuration: 1 hour\nDescription: —\nParticipants: Design Team\n\n**Example 2 (UPDATE):**\nUser: \"Change my Sept 15 design team meeting to 4 PM.\"\nAgent:\n✅ Event Updated:\nTitle: Meeting with Design Team\nDate: Sept 15\nTime: 4:00 PM – 5:00 PM\nDuration: 1 hour\nDescription: —\nParticipants: Design Team\n\n**Example 3 (DELETE):**\nUser: \"Delete my design meeting on Sept 15.\"\nAgent:\n🗑️ Event Deleted:\nTitle: Meeting with Design Team\nDate: Sept 15\nTime: 4:00 PM – 5:00 PM\n\n**Example 4 (SHOW):**\nUser: \"Show me all events for Sept 15.\"\nAgent:\n📅 Events on Sept 15:\n1. Meeting with Design Team | 4:00 PM – 5:00 PM | Participants: Design Team\n2. Client Call | 6:00 PM – 7:00 PM | Participants: Client X\n\n</system_prompt>\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        32
      ],
      "id": "24c3f2b3-9c86-4992-8284-8e0dd730813c",
      "name": "CalendarAgent"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        32
      ],
      "id": "0dce432c-6ced-4191-ba7d-e305fee5f25c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9873b29-2ce6-4f82-814e-826a1666573c",
              "name": "Responce",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        32
      ],
      "id": "ae629a09-2530-48a8-b1f1-f13d758e2bf6",
      "name": "Responce"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "swarajvecha@gmail.com",
          "mode": "list",
          "cachedResultName": "swarajvecha@gmail.com"
        },
        "start": "={{ $fromAI(\"StartTime\") }}",
        "end": "={{ $fromAI(\"EndTime\") }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"Attendees\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        560,
        288
      ],
      "id": "7a4049a8-e1b1-40ab-a9d3-b28eab413861",
      "name": "CREATE AN EVENT WITH ATTENDEES",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xsuEz4BcC2A14LSf",
          "name": "Google Calendar Swaraj vecha"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "swarajvecha@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"StartTime\") }}",
        "end": "={{ $fromAI(\"EndTime\") }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        288
      ],
      "id": "6e5dbfa8-57f6-4f4b-8938-42a8170a1853",
      "name": "CREATE AN EVENT",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xsuEz4BcC2A14LSf",
          "name": "Google Calendar Swaraj vecha"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "swarajvecha@gmail.com",
          "mode": "list",
          "cachedResultName": "swarajvecha@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI(\"OneDayBefore\",\"one day before the date the user request\")}}",
        "timeMax": "={{ $fromAI(\"OneDayAfter\",\"one day after the date the user request\")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        720,
        288
      ],
      "id": "e51c802f-1a61-475f-8be3-d1436fd7e280",
      "name": "ACCESS ALL THE EVENTS",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xsuEz4BcC2A14LSf",
          "name": "Google Calendar Swaraj vecha"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "swarajvecha@gmail.com",
          "mode": "list",
          "cachedResultName": "swarajvecha@gmail.com"
        },
        "eventId": "={{ $fromAI(\"event\") }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        880,
        288
      ],
      "id": "9bcc1fdf-590e-4fea-9505-934203b3916f",
      "name": "UPDATE AN EVENT",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xsuEz4BcC2A14LSf",
          "name": "Google Calendar Swaraj vecha"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "swarajvecha@gmail.com",
          "mode": "list",
          "cachedResultName": "swarajvecha@gmail.com"
        },
        "eventId": "={{ $fromAI(\"delete\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1040,
        288
      ],
      "id": "e7aa11ee-db6c-4714-b7c2-b29e64196ae1",
      "name": "DELETE AN EVENT",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "xsuEz4BcC2A14LSf",
          "name": "Google Calendar Swaraj vecha"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "CalendarAgent": {
      "main": [
        [
          {
            "node": "Responce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CalendarAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREATE AN EVENT WITH ATTENDEES": {
      "ai_tool": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CREATE AN EVENT": {
      "ai_tool": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ACCESS ALL THE EVENTS": {
      "ai_tool": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UPDATE AN EVENT": {
      "ai_tool": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DELETE AN EVENT": {
      "ai_tool": [
        [
          {
            "node": "CalendarAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "55ccf3f6-b2e3-4dbf-b410-293a95197466",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bb0ab11c35b82ecba8d9c9dce3250c722bc1532f1e334d813231c541b90cf8d"
  },
  "id": "00L8g1vo2gdzuAan",
  "tags": []
}